@using MarketKasaSistemi.Entities
@model List<Satis>
@{
    ViewBag.Title = "Satış";
    decimal toplamTutar = 0;
}
<div class="row">
    <div class="col-12">
        <div class="float-end">
            <div class="d-inline-block">
                <select class="form-select form-select-sm" aria-label=".form-select-lg example">
                    <option selected>Ödeme Tipi</option>
                    <option value="1">Kredi Kartı</option>
                    <option value="2">Nakit</option>
                </select>
            </div>
            <a href="@Url.Action("SatisEkle","Home")" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Ürün Ekle</a>
        </div>
    </div>
    <div class="table-responsive mt-2">
        <table class="table border border-2 col-12">
            <thead>
                <tr class="w-100 prm-one">
                    <th scope="col" class="fw-bold">BARKOD</th>
                    <th scope="col" class="fw-bold">AD</th>
                    <th scope="col" class="fw-bold">KATEGORİ</th>
                    <th scope="col" class="fw-bold">ADET</th>
                    <th scope="col" class="fw-bold">FİYAT</th>
                    <th scope="col" class="fw-bold">VERGİ</th>
                    <th scope="col" class="fw-bold">TOPLAM</th>
                    <th scope="col" class="fw-bold">İŞLEMLER</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model) 
                {
                    <tr>
                        <th scope="row" class="table-id">@item.UrunBarkod</th>
                        <td>@item.UrunAd</td>
                        <td>@item.Urun.KategoriAd</td>
                        <td>@item.SatisAdet</td>
                        <td>@item.UrunFiyat ₺</td>
                        <td>@item.Urun.VergiMiktar %</td>
                        <td>@item.ToplamKdvliFiyat ₺</td>
                        <td>
                            <a href="@Url.Action("SatisEkle", "Home", new {id = item.Id})" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                            <a href="@Url.Action("SatisSil", "Home", new {id = item.Id})" class="btn btn-danger btn-sm"><i class="fa fa-close"></i></a>
                        </td>
                    </tr>
                    toplamTutar += item.ToplamKdvliFiyat;
                }
            </tbody>
        </table>
    </div>
    <div class="col-12 mt-2">
        <h3 class="d-inline-block col-6 fs-5 prm-one">Toplam Tutar :<span class="fw-bold">₺@toplamTutar</span></h3>
        <div class="float-end">
            <a href="@Url.Action("Satis","Home")" class="btn btn-danger btn-lg"><i class="fa fa-close"></i> SIFIRLA</a>
            <a href="@Url.Action("SatisTamamla","Home")" class="btn btn-success btn-lg"><i class="fa fa-check"></i> SATIŞ YAP</a>
        </div>
    </div>
</div>