@using MarketKasaSistemi.Entities
@model Urun
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
    @using (Html.BeginForm("Ekle", "Urunler", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary();
        <div class="mb-3">
            @Html.LabelFor(x => x.UrunAd, new { @class = "form-label offset-4 prm-one" })
            <div class="col-md-4 mx-auto">
                @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.UrunFiyat, new { @class = "form-label offset-4 prm-one" })
            <div class="col-md-4 mx-auto">
                @Html.TextBoxFor(x => x.UrunFiyat, new { @class = "form-control" })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.UrunStokAdet, new { @class = "form-label offset-4 prm-one" })
            <div class="col-md-4 mx-auto">
                @Html.TextBoxFor(x => x.UrunStokAdet, new { @class = "form-control" })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Kategori, new { @class = "form-label offset-4 prm-one" })
            <div class="col-md-4 mx-auto">
                @Html.DropDownListFor(x => x.Kategori.Id, ViewBag.Kategoriler as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(x => x.Vergi, new { @class = "form-label offset-4 prm-one" })
            <div class="col-md-4 mx-auto">
                @Html.DropDownListFor(x => x.Vergi.Id, ViewBag.Vergiler as SelectList, new { @class = "form-control" })
            </div>
        </div>
        <div class="mb-3">
            <div class="col-md-3 mx-auto">
                <a href="@Url.Action("Index","Personeller")" class="btn btn-danger ms-5"><i class="fa fa-close"></i> İptal</a>
                <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle"></i> Ekle</button>
            </div>
        </div>
    }
</div>